*.class
*.log
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.scala_dependencies
.project
*.iml
*.ipr
*.iws
.idea/
logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
dump/
activator*
test/
bin/
packages/AppyBirdDayDart
*~
.target/
*.zip
.project
*.iml
*.ipr
*.iws
.idea/
.cache
*.exe
*.jar
build/
