<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>AppyBirdDay: Recognising Indian Birds</title>
    <link rel="stylesheet" href="screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection">
  </head>
  <body>
    
    <div class="container">
    <div class="span-24 centered">
    <hr class="space">
    <h1 id="intro"> AppyBirdDay: Identifying Indian birds </h1>
    <hr>
    </div>
    <div class="span-17 colborder">
    <h2 class="alt"> Enter whichever traits you have observed</h2>
    </div>
    
    
     
    <div class="span-8">
      <h3> Size: </h3>
      <div id="size"></div>
      <input id="size_input" type="number" name="size_var" min="1" max="120"> cm
    
    <br><br>  

    <h3>Colours: </h3> 
    <ul id="colour_list">
       </ul>
    
    <div id="bin_attr"></div>   
    
    </div>

  <div class="span-8">
    <div id="beh_attr"></div>
    </div>

  <div class="span-23">
    <br>
    <b> Debug data</b>
    <p id="rep"> </p>
    <p id="descs"></p>
    </div>

    </div>
    
    <script type="application/dart" src="appybirddaydart.dart"></script>
    <script src="packages/browser/dart.js"></script>
  </body>
</html>
