
body {
  background-color: skyblue;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}


h1, p {
  color: #333;
}

input {
  float: right
  }

.leftmargin{
  margin-left: 40px;
  margin-right: auto;
}

#main{
  float:left;
}

#topmatter{
  padding: 1px;
  margin-left:70px;
  margin-right: 10px;
  }

.maintitle {
  font-size: 30px;
  text-align:center;
  }

.subtitle {
  font-family: helvetica;
  font-size: 18px;
 /* font-style: italic;*/
  }
  
.subheader {
  font-weight: bold;
}

#querymatter {
 /* min-height:400px;*/
  margin-left: 10px;
  border: 5px;
  float:left;
  border-style: solid;
  border-color: #ffa0a0;
  border-width: 2px;
  background-color: #ffffa0;
  }

.querycol {
  float: left;
  width: 220px;
  margin-left:20px;
  margin-right:20px;
  padding-left:15px;
  padding-right:15px;
  margin-top:30px;
  height:550px;
  overflow-y: auto;
  padding-right: 25px;
  border-style: solid;
  border-radius: 15px;
  border-color: #a0ffa0; 
  border-width: 1px;
  padding:7px;
  background-color: #f8c8e8;
  }
  
.sidebar {
  float:right;  
  width: 220px;
  background-color: #f8c8e8; 
  height: 700px;
  overflow-y: auto;
  
  padding-left:10px;
  padding-right:10px;
  border-width: 2px;
  border-style: solid;
  margin-left: 80px;
  border-color: orange;
  }

.birdchoice {
  color:blue;
}

.birdchoice:hover {
  color: blue;
  font-weight:bold;
  text-decoration:underline;
  cursor: pointer;
}

.error {
  background-color: #ff6060;
}

#size{
  float:left;
}

.inp{
  float:left;
}

#footbar {
  clear: both;
  font-size: 16px;
}

/*
input[type='range'] {
    -webkit-appearance: none;
    background:red;
    height:3px;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background:blue;
    height:10px;
    width:10px;
}
*/


#debug  {
  clear: both;
  color: red;
  background-color: white;
  }